.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
.settings/
.classpath
.project
/Results/
/results/
/test-output/
/target/

/logs/
*.log

.idea/
*.iml

src/gen/

/gradle/
gradlew
gradlew.bat

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.class
